
#ID_NUMBER=42004
ID_NUMBER=28728
#ID_NUMBER=43530

BATCH_SIZE=256
VAL_BATCH_SIZE=32

TRAIN_CLASS=train

#No / at the end
#TRAIN_PATH=/home/lixiaoli/evaluate/data/trainData/fanKakoData/train
#TRAIN_PATH=/home/lixiaoli/evaluate/data/trainData/YiganduotouAll/train
#TRAIN_PATH=/home/data1/combineData/cam3-Person_HY-Actor123_HWP10_Kako7k/train
TRAIN_PATH=/home/data1/combineData/trainSet_4Algo/train

USE_VAL=0

SLEEP_TIME=00000

GPU_ID=0   #all #0

#PRE_MODEL=./VGG_CNN_M_1024.v2.caffemodel
PRE_MODEL=./vggm_ImageNet_vggm_bn_ImageNet4_192_96_iter_2000000.caffemodel
#RE_MODEL=./VGGM_BN_lhm_newtrain_126584ID_192_96_iter_215933.caffemodel

HEIGHT=192 
WIDTH=96   
FC6_SIZE=4096
FC7_SIZE=512

LMDB_NAME=lhm_newtrain_"$ID_NUMBER"ID_"$HEIGHT"_"$WIDTH"
SAVE_NAME="$LMDB_NAME"
#LMDB_NAME=Yiganduotou-fanKako_"$HEIGHT"_"$WIDTH"
#SAVE_NAME=Yiganduotou-fanKako_"$HEIGHT"_"$WIDTH"

